* {
  margin: 0;
  padding: 0;
}
html {
  color: #222;
  background-color: #eee;
}

html.dark {
		background-color: #222;
		color: #eee;
}
body {
  font-family: 'Inconsolata', 'Courier New', Courier, monospace;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a, a:visited, a:hover {
  color: cornflowerblue;
}

.home-blurb {
  text-align: center;
  /* font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.home-blurb p {
  font-size: 1.5em;
}

/*
src: https://codepen.io/lemmin/pen/KaLmVa
*/
img + em {
  font-size: .8em;
  opacity: 0.8;
}
img {
  width:100%;
}
img.zoomable {
  cursor: zoom-in;
  transition:all .3s;
  transform-origin: top left;
}
img.zoomable.zoomed {
	cursor: zoom-out;
}

.expanded-note {
	box-sizing: border-box;
  border: 1px solid currentColor;
  padding: 1em 2em;
}
.expanded-note > hr {
  margin: 1em -2em 1em -2em;
}
footer ol, footer ul {
  padding: 0px;
  text-align: center;
}
nav ol, nav ul {
  text-align: center;
}
footer li, nav li {
  display: inline-block;
  list-style: none;
  margin: 0em .5em;
  margin-bottom: .25em;
}
header a, footer a {
  color: currentColor;
  opacity: 0.7;
}
header a:visited, footer a:visited {
  opacity: 0.7;
  color: currentColor;
}