---
layout: page
title: notes
---
<p>
  This is my personal digital garden. A wild garden, loosely tended. There's drafts, ideas, partials, fragments and ideas.
  <img src="../assets/img/plant-growth-success-1.png" style="width: 40%; margin: 10px">
</p>

{% assign folders = site.pages | where_exp:"item", "item.path contains 'notes'" %}
{% assign wikifolders = "" | split:"" %}

{% for folder in folders %}
  {% assign tempvar = folder.path | split:"/" %}
  {% assign wikifolders = wikifolders | push:tempvar[1] %}
{% endfor %}

{% assign wikifolders = wikifolders | uniq | sort %}

{% for folder in wikifolders %}
  {% unless folder contains 'md' or folder contains 'html' %}
      <a href="/notes/{{folder}}/">
          <h3>
            {{folder | capitalize}}
          </h3>
        </a>
  {% endunless %}
{% endfor %}

<h3>All notes</h3>

{% assign folder1 = site.pages | where_exp: "item" , "item.path contains 'notes'" | sort:"path" %}
{% for item in folder1 %}
  <pre><a href="{{ item.url }}">{{item.path}}</a></pre>
{% endfor %}

